html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body{
	background-color: LightGray;
}
div{
	border: 1px solid Chocolate;
}
/* Navigation Section */
.top-navigation{
	background-color: #fff;
	/*position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;*/
}
.top-navigation .content{
	width: 970px;
	 height: 70px;
	 margin: 0 auto;
	 padding: 0px 15px;
}
.logo{
	width: 26px;
	margin-top: 14px; 
	height: 38px;
}
.top-navigation .links{
	float: right;
	font-family: 'Roboto' , sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 8px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;	
	letter-spacing: 0.03em;
	margin-left: 26px;
}
.top-navigation .links .active {
	color: #4c5085;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/*.top-navigation .logo{
	height: 4.375rem;
}*/
/*img{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}*/

/*nav{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}*/